# Environnement virtuel Python
venv/
.venv/        # Au cas où vous utiliseriez .venv/ au lieu de venv/

# Fichiers compilés Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Fichiers de configuration de l'éditeur (VS Code)
.vscode/      # Si vous voulez ignorer le dossier .vscode entier
# .vscode/settings.json # Si vous voulez ignorer des fichiers spécifiques de .vscode

# Fichiers générés par l'OS (macOS)
.DS_Store

# Fichiers de log ou temporaires
*.log
*.tmp
*.swp
*.swo

# Fichiers liés aux notebooks Jupyter
.ipynb_checkpoints/