# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Flask uploads
app/static/images/uploads/
app/static/images/masks/

# Models
*.h5

# Environment
.env
venv/
env/
*.log

# VS Code
.vscode/

# Render local cache
*.render*
